#projects div {
    display: flexbox;
    text-wrap: wrap;
    padding: auto;
    /* text-align: center; */
}

.project-card {
    /* background-color: grey; */
    background-image: url("");
    /* max-width: 50%; */
    padding: 1%;
    margin: 2% 2% auto;
    border-radius: 25px;
    opacity: 70%;
    border: 2px 2px black;
}

.project-card:hover {
    /* background-color: lightgray; */
    background-color: gold;
    color: white;
    opacity: 80%;
}

:hover {
    opacity: 100%;
}

.project-card h1 {
    text-shadow: 1px 1px black;
}

/* .project-card p {
    color: white;
} */

li {
    list-style-type: none;   
}
a {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

